<!-- partial template inserted into index for each burger rendered and updates value of devoured in mysql database to true
when devour button is clicked -->
<form action='/{{this.id}}?_method=PUT' method='POST'>
 <button type="submit">Devour It!</button>
<form>
