<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">Eat Da' Burgers!</h1>
    <br>
    <form class="add-new-form" action="/" method="POST">
      <div class="form-group">
        <label for="new-burger">Design An New Burger Here</label>
        <input type="text" id="new-burger" name="name" value="" placeholder="Add New Burger Name">
        <button type="submit">Add Burger</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class=col-sm-4>
      <div class="row">
        <h1>Burgers Ready to Consume</h1>

          {{#each burger}}
          {{#unless this.devoured}}
          <div class="row">
            <div class="col-sm-6 text-center">
            <p>{{this.id}} - {{this.burger_name}}</p>
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="id" value={{this.id}}>
             <button type="submit">Devour It!</button>
            <form>
            </div>
          </div>
          {{/unless}}
          {{/each}}

      </div>
    </div>
  </div>
</div>





</div>
